.project-top {
	background: #CCC;
	padding: 10px 0;
}
.projects {
    list-style-type: none;
    padding: 0;
}

.projects_row {
	padding: 20px 0;
	border-bottom: 1px solid #eee;
}

.project-row_header, 
.project-row_description {
	margin-top: 0;
}